@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0; margin: 0; outline: none;
    box-sizing: border-box; 
    font-family: 'Noto Sans', sans-serif;   
}
:root{
    --gray-light: #e6e7e8;
    --gray-dark: #c7c8ca;
}
body{
    background-color: #525659;
}
.content{
    min-height: 100vh;
    background-color: white;
    width: 100%;
    padding: 1.4rem;
}
#brand_logo{
    font-size: 27px;
    font-weight: 400;
    color: var(--gray-dark);
}
.text_p{
    font-size: 11px;
}
.header .headline{
    font-weight: 500;
}
.header{
    border-bottom: 2px solid black;
}
.weight_bold{
    font-weight: 800;
}
.table_sm td{
    font-size: 12px;
    vertical-align: top;
}
.table_sm td:first-child{
    font-weight: bold;
    min-width: 80px;
}
.note{
    font-size: 10px !important;
    font-weight: 700;
}
.note .bold{
    font-weight: 800;
}
.mt-2 .table_sm td{
    line-height: 1.3;
}
.regular_table_cover > table{
    border-collapse: collapse;
}
.regular_table_cover > table thead tr th{
    font-size: 13px;
}
.regular_table_cover > table thead tr th:first-child{
    border-radius: 10px 10px 0 0;
    color: white;
    background-color: black;
    padding: 5px 10px;
    text-align: left;
}
.table_value_headline{
    background-color: var(--gray-light);
}
.regular_table_cover > table thead tr th{
    border-bottom: 2px solid black;
}
.regular_table_cover > table .bucks{
    min-width: 100px;
}
.regular_table_cover > table tbody td{
    font-size: 12px;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    vertical-align: top;
}
.regular_table_cover > table > tbody > tr > td:first-child , .regular_table_cover > table > thead > tr > th:first-child{
    font-weight: bold;
    min-width: 210px;
    max-width: 210px;
    border-right: 2px solid black;
}
.text-lg{
    font-size: 17px !important;
}
.text-md{
    font-size: 13px !important;
}
.text-sm{
    font-size: 10px;
}
.weight_normal{
    font-weight: 500 !important;
}
.valign_bottom{
    vertical-align: bottom !important;
}
.border_bottom_none{
    border-bottom: 0 !important;
}
.border_right_none{
    border-right: 0 !important;
}
.border_top_bold{
    border-top: 2px solid black;
}
.valign_middle{
    vertical-align: middle !important;
}
.decoration_none{
    text-decoration: none;
}
.projected_payment_table_cover table tbody tr:first-child{
    background-color: var(--gray-light);
}
.info_section .row:first-child{
    background-color: var(--gray-light);
}





@media screen and (min-width : 768px) {    
    .table_75_width_responsive{
        width: 75%;
    }  
    .content{
        width: 830px;
        padding: 3.4rem 4rem;
        margin: auto;
        padding-bottom: 0.8rem !important;
    }  
}

































.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.ms-auto{
    margin-left: auto;
} 
.me-0{
    margin-right: 0;
}
.my-1{
    margin-top: 5px;
    margin-bottom: 5px;
}
.h-50{
    height: 50px !important;
}
.h-30{
    height: 30px;
}
.w-50{
    width: 50%;
}
.ps-3{
    padding-left: 15px;
}
.p-0{
    padding: 0 !important;
}
.px-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.px-1{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.py-0{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.py-1{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.p-1{
    padding: 5px;
}
.ps-2{
    padding-left: 10px;
}
.pb-1{
    padding-bottom: 5px;
}
.pb-0{
    padding-bottom: 0px;
}
.mt-2{
    margin-top: 12px;
}
.mb-1{
    margin-bottom: 5px;
}
.mb-0{
    margin-bottom: 0px;
}
.italic{
    font-style: italic;
}
.text-dark{
    color: black !important;
}
.text-start{
    text-align: start;
}
.text-center{
    text-align: center !important;
}
.text-end{
    text-align: end !important;
}
.d-flex{
    display: flex;
}
.flex-1{
    flex-grow: 1 !important;
}
.d-inline-flex{
    display: inline-flex;
}
.align-items-start{
    align-items: start;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: end;
}
.justify-content-between{
    justify-content: space-between;
}
.flex-row{
    flex-direction: row;
}
.w-full{
    width: 100%;
}
.flex-col{
    flex-direction: column;
}
@media screen and (min-width : 768px) {    
    .w-md-50{
        width: 50%;
    } 
    .flex-md-row{
        flex-direction: row;
    }
}

